:root {
  /* text color */
  --main-font: 'Roboto';
  --secondary-font: 'Raleway';

  --acent-color: #2196f3;
  --secondary-color: #188ce8;
  --white-color: white;
  --border-bottom-color: #ececec;
  --header-color: #212121;
  --label-color: #757575;
  --border-checkbox: #2a2a2a;
  --logo-color: #f5f4fa;
  --footer-backgroung: #2f303a;
  --modal-form: rgba(33, 33, 33, 0.2);
  --border-color: #eeeeee;
  --team-list-color: #afb1b8;

  /* others */

  --items: 4;
  --indent: 30px;

  --anim-slow: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
