.about {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about-container {
  display: flex;
  justify-content: center;
  gap: 30px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-top: -30px;
    margin-bottom: -30px;
  }
}

.about-container__item {
  --items: 1;

  @media screen and (min-width: 768px) {
    --items: 2;
  }
  @media screen and (min-width: 1200px) {
    --items: 4;
  }
}

.about-container__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  gap: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.about-div {
  padding-top: 30px;
}

.about-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--header-color);
  margin-top: 25px;
  display: flex;
  justify-content: center;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: flex-start;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: flex-start;
  }
}

.about-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--label-color);
  margin-top: 10px;
}
