.customers {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  gap: var(--indent);

  @media screen and (min-width: 1200px) {
    margin-top: 50px;
  }
}

.customers-list_item {
  @media screen and (max-width: 766px) {
    flex-wrap: nowrap;
    width: 210px;
    width: calc((100% - var(--indent)) / 2);
  }

  @media screen and (min-width: 767px) {
    width: calc((100% - var(--indent)) / 3);
    width: 226px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - var(--indent)) / 7);
  }
}

.customers-list_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color var(--anim-slow), border var(--anim-slow);

  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.customers-list_button:hover,
.customers-list_button:focus {
  border: 1px solid var(--acent-color);
  color: var(--acent-color);
}

.customers-list_svg {
  width: 106px;
  height: 60px;
  fill: currentColor;
  display: flex;
  justify-content: center;
}
