.customers {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: var(--indent);

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.customers-list_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color var(--anim-slow), border var(--anim-slow);

  @media screen and (min-width: 768px) {
    width: 226px;
    --items: 3;
    display: flex;
    flex-wrap: wrap;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
}

.customers-list_button:hover,
.customers-list_button:focus {
  border: 1px solid var(--acent-color);
  color: var(--acent-color);
}

.customers-list_svg {
  width: 106px;
  height: 60px;
  fill: currentColor;
  display: flex;
  justify-content: center;
}
