.team {
  background-color: var(--logo-color);
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 768px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-color);
}

.team-list {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.team-card {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-list-icon {
  display: flex;
  margin-top: 16px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.team-list-icon__img {
  &:hover,
  &:focus {
    background-color: var(--acent-color);
    color: var(--white-color);
  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: var(--team-list-color);
  transition: var(--anim-slow);
}

.team-list-icon__svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.team-item__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--header-color);
  text-align: center;
}

.team-item__job {
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--label-color);
  text-align: center;
  margin-top: 10px;
}
